.dpui-numberPicker {
	display: inline-block;
	border-radius: 0px;
	
}
.dpui-numberPicker button {
	margin: 0;
	border: none;
	font-size: 18px;
	display: inline-block;
	width: 40px;
	height: 35px;
	line-height: 20px;
	vertical-align: center;
	outline: none;
	cursor: pointer;
	background: #ffffff;
	color: #ffffff;
	
}
.dpui-numberPicker button:hover {
	background: #cccccc;
	background: -moz-linear-gradient(top,  #cccccc 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #cccccc 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #cccccc 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #cccccc 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #cccccc 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f0f0f0',GradientType=0 );
}
.dpui-numberPicker-input {
	display: inline-block;
	width: 55px;
	height: 100%;
	line-height: 30px;
	margin: 0;
	text-align: center;
	outline: none;
	vertical-align: top;
	border: none;
	border-top: none;
	border-bottom: none;
	background: #ffffff;
	color:#ffffff;
	
}
.dpui-numberPicker-input:focus {
	background: #ffffff;
}
.dpui-numberPicker-decrease {
	margin: 0;
	text-align: center;
	outline: none;
	display: inline-block;
	border-radius: 0 0 0 0;
	border:none;
	cursor: pointer;
	background: #ffffff;
	color: #777;
}
.dpui-numberPicker-increase {
	margin: 0;
	text-align: center;
	outline: none;
	display: inline-block;
	border-radius: 0 0 0 0;
	border:none;
	cursor: pointer;
	background: #ffffff;
	color: #777;
}
.dpui-numberPicker.dpui-numberPicker-min .dpui-numberPicker-decrease, .dpui-numberPicker.dpui-numberPicker-max .dpui-numberPicker-increase {
	background: #cccccc;
	color: #999999;
}