
<div class="fount-media-detail">

                  	<div class="container">
	                  <div class="media-images mediaimages">
	                    <div><img id="image" src="{{discoverMedia.standardResolutionURL}}" fount-err-src="img/err-src.png"/></div>
	                  </div>
	                  <div class="">
	                    <div class="clearfix">
							<ul>
								<li><img alt="item pic" src="{{discoverMedia.instagramUserProfileUrl}}" width=100px; fount-err-src="img/err-src.png"/></li>
								<li><div class="brandName">{{discoverMedia.instagramUserName}}</div></li>
								<li><div class="like-counts"><center><div><img alt="like" src="img/like.png" width=80px;/></div><div>{{discoverMedia.likes}}</div></center></div></li>
							</ul>
	                    </div>
	                    <div class="summary-top clearfix">
							<div class="caption accordion-toggle">{{discoverMedia.caption}}</div>
						</div>
	
	                    <div class="summary-top clearfix media-user-likes">
	                    	<div class="likedUser">
								<li	ng-repeat="x in discoverUsers track by $index"
									class="likedUser-list"
									id="fount-liked_user_{{$index}}" >
									<figure>
										<div class="likedUserProfile-img">
				 							<img ng-src="{{x.igProfilePicture}}" fount-err-src="img/err-src.png">
										</div>
									</figure>
								</li>
							</div>
							<div class="likes">
		                    	<div class="likes-count">{{discoverMedia.moreLikes}} likes</div>
		                    	<a href="#" class="more">more</a>
	                    	</div>
	                    </div>                   
	                  </div>
	                 
		              <div class="media-product-items">
						<div class="product-items-detail">
							<div class="info">
									<font size=6 color="#4ac0d1">TAGGED <br>ITEMS<br>
									<br>_____
									<br>
									<br>
									<br>
									<br>
									<br>
									<br></font>
							</div>
							<div class="intro-brief">
								A fount of products
									tagged and <br>inspired from the host. Have fun<br>
									shopping!
							</div>
						</div>
				<!--  		<li	ng-repeat="products in tagProductsArray track by $index"
								class="product-items-detail"
								id="fount-visualtag_product_{{$index}}">
								<figure>
									<div class="product-img">
										<img ng-src="{{products.imageURL}}" fount-err-src="img/err-src.png"/>
									</div>
									<center>
									<div class="fount-pdp-to-brand"><h1>{{products.brand.name}}</h1></div>
									<div class="product-name"><p>{{products.name}}</p></div>
									<div class="product-price amount">
										{{products.price | currency}}
									</div>
									<div ng-click="productDetail(products.id)" class="details-btn"><input type="image" class="product-details-btn" src="http://i.imgur.com/8Ycesid.png"/></div>
									<div class="add-to-wishlist">
										<div><img style="display: inline-block;" alt="item pic"	src="img/wishlist.png" width=40 /></div>
										<div>
											<p style="display: inline-block;"><a href="#">add to wish list</a><p>
										</div>
									</div>
									</center>
								</figure>
							</li>
							
							-->						
					 </div>
				 </div>
             
             
         
         
       
      
  
 
</div>


